{% extends "base.html" %}

{% block conteudo %}

      <div class="jumbotron">
        <h1>Trabalho de Compilador</h1>
        <p class="lead">Será implementado um compilador usando python.</p>
        <p><a class="btn btn-lg btn-success" href="#">Sign up today</a></p>
      </div>

      <div class="row marketing">
        <div class="col-lg-6">
          <h4>Tecnologia</h4>
          <p>Paython</p>

          <h4>Analise</h4>
          <p>Sintática e Léxica</p>

          <h4>Ferrramenta</h4>
          <p>LEX/YACC</p>
        </div>

        <div class="col-lg-6">
          <h4>Subheading</h4>
          <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

          <h4>Subheading</h4>
          <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

          <h4>Subheading</h4>
          <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
        </div>
      </div>

      <div class="footer">
        <p>&copy; Company 2013</p>
      </div>

	
{% endblock conteudo %}